{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "describe": "readonly",
    "expect": "readonly",
    "it": "readonly",
    "test": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "linebreak-style": ["error", "unix"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
